@page "/counter"
@rendermode InteractiveServer
@using System.Timers

<PageTitle>Counter</PageTitle>



<div class="buttonContainer">
    @for (var i = 1; i <= 130; i++)
    {
        var imageId = i;
            
    <button class="imageButton" @onclick="() => ShowImage(imageId)">
            @imageId

        </button>

    }
</div>

@if (ImageSource is not null)
{
    <p class="imageContainer">
        <img class="mainImage" src="@ImageSource" />
    </p>
}

@code {

    private string? ImageSource;
    private void ShowImage(int id) {
        ImageSource = $"images/Vrij Werk {id}.jpg";
    }
}